$primary-color: #1A1446;
$secondary-color: #FFD000;

$font-roboto-light : "roboto light";
$font-roboto-bold : 'roboto bold';
$font-roboto-medium: 'roboto medium';
$font-roboto-regular: 'roboto regular';
